# Django
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles

# Ambiente virtual
venv/

# Arquivos de log
*.log

# Configurações específicas do sistema
.DS_Store
Thumbs.db

# Arquivos de banco de dados
db.sqlite3
*.sqlite3